<div class="banner principal">
  <div class="conteudo">O Progressistas no Ceará</div>
  <%# <div><%= image_tag "filie-se4.gif", class: "small" %>
</div>

<div class="texto">
<div class="numeros"></div>
</div>

<div class="banner secundario">
</div>