<div class="banner principal">
<!-- Use any element to open the sidenav -->
<div style="display: flex;"><span id="open-nav">&#9776;</span><div id="nav-icon"></div></div>
<div style="display: flex;"><span id="open-nav-resp">&#9776;</span><div id="nav-icon-resp"></div></div>

<div class="conteudo">Progressistas <br>CEARÁ</div>
</div>

<div class="texto">
<div id="numeros"></div>
</div>

<div class="banner secundario mb-5">
</div>