<div class="cards mt-5">
  <div class="card-category" id="card-mulheres">
    Mulheres Progressistas
  </div>

  <div class="card-category" id="card-juventude">
    Juventude Progressista
  </div>


  <div class="card-category" id="card-filie-se">
  </div>
  
</div>

<%= render 'modal'%>

<div class="card-mensagem m-5">
  <div class="img"><%= image_tag 'presidente.png'%></div>
  <div class="card-mensagem-infos">
    <h2>Mensagem do Presidente - Progressista Ceará</h2>
    <h3>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus auctor ex libero, eu luctus tortor tristique nec. Nullam eget nulla dapibus, scelerisque urna eget, finibus orci. Nam diam nunc, aliquam eu felis nec, bibendum pretium sapien. Donec bibendum nulla mi, eu condimentum ipsum faucibus a. Proin id leo id mauris tristique scelerisque nec in nisi. Nulla facilisi."<br><strong> Deputado A.J. Albuquerque</strong></p>
    <p> Conheça mais sobre nosso <strong>partido</strong> e sobre nosso <strong>diretório estadual</strong></p>
  </div>
</div>