<div class="card-mensagem mt-2 mb-0">
  <div><%= image_tag 'presidente.png', class: "img"%></div>
  <div class="card-mensagem-infos">
    <h2>Mensagem do Presidente - Progressista Ceará</h2>
    <h3>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus auctor ex libero, eu luctus tortor tristique nec. Nullam eget nulla dapibus, scelerisque urna eget, finibus orci. Nam diam nunc, aliquam eu felis nec, bibendum pretium sapien. Donec bibendum nulla mi, eu condimentum ipsum faucibus a. Proin id leo id mauris tristique scelerisque nec in nisi. Nulla facilisi."<br><strong> Deputado A.J. Albuquerque</strong></p>
    <p> Conheça mais sobre nosso <strong>partido</strong> e sobre nosso <strong>diretório estadual</strong></p>
  </div>
</div>

<div class="cards ml-2 mr-2 mt-2 mb-4">

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="8000">
    <div class="carousel-inner" id="card-filie-se">
      <div class="carousel-item active">
        <div class="d-block w-100">
          <div class="card-category" id="card-filie-se3">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-block w-100">
          <div class="card-category" id="card-filie-se2">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-category" id="card-juventude">
    Juventude Progressista
  </div>
  
  <div class="card-category" id="card-mulheres">
    Mulheres Progressistas
  </div>
  
</div>

<%= render 'modal'%>