<footer class="pl-3 pr-3 pb-3 pt-5">
  <h3><a href="https://www.facebook.com/pages/Partido-Progressista-Pp-Diretorio-Estadual-do-Ceara/502985643207737" target="_blank"><i class="fab fa-facebook-f"></i></a>
  &nbsp;&nbsp;<a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
  &nbsp;&nbsp;<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
  <br>Venha conhecer, junte-se a nós!</h3>
  <p>Avenida Frei Mansueto, 1.101 <br> Bairro: Meireles <br> 60175-070 - Fortaleza (CE) <br> Fone: (85) 3261-2235 <br>
  <a href="mailto:ppce@example.com">ppce@example.com</a></p>
</footer>