<div class="map-el">
  <div class='sidebar ml-1'>
    <div class='heading'>
      <h1>Progressistas no Ceará</h1>
      <p>Selecione no mapa para conhecer os progressistas em cada município</p>
    </div>

    <div id='listings' class='listings mb-4'>
      <div id="cidade"></div> 
    </div>
    <div>
      <button id="lista-completa" class="button button-lista">Veja a lista completa</button>
      <%= render 'modal_lista'%>
    </div>
  </div>
  <div
    id="map"
    style="height: 450px;"
    class='map pad2 mr-1'
    data-markers="<%= @markers.to_json %>"
    data-clusters="<%= @geojson.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>