<div id="navbar">
<div style="display: flex;"><span id="open-nav">&#9776;</span><div id="nav-icon"></div></div>
<div style="display: flex;"><span id="open-nav-resp">&#9776;</span><div id="nav-icon-resp"></div></div>
</div>