<div id="navbar">
<div style="display: flex;"><span class="open-nav">&#9776;</span><div class="nav-icon"></div></div>
<div style="display: flex;"><span class="open-nav-resp">&#9776;</span><div class="nav-icon-resp"></div></div>
</div>