<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" id="close-nav">&times;</a>
  <a href="#">Diretório <br>Estadual</a>
  <a href="#">Grupos <br>Temáticos</a>
  <a href="#">Presença <br>nos Municípios</a>
  <a href="#">Filie-se</a>
  <a href="#">Contatos</a>
</div>

<!-- Use any element to open the sidenav -->
<%# <div style="display: flex;"><span id="open-nav">&#9776;</span><div id="nav-icon"></div></div>
<div style="display: flex;"><span id="open-nav-resp">&#9776;</span><div id="nav-icon-resp"></div></div> %>
