<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" id="close-nav">&times;</a>
  <a class="menu-items" href="#card-mensagem">Diretório <br>Estadual</a>
  <a class="menu-items" href="#card-juventude">Grupos <br>Temáticos</a>
  <a class="menu-items" href="#map">Presença <br>nos Municípios</a>
  <li class="nav-item d-flex align-items-center"> <a class="btn" id="filie-se-menu" href="#">Filie-se</a> </li>
  <a class="menu-items" href="#">Contatos</a>
</div>
<div class="overlay-sidebar"></div>
<!-- Use any element to open the sidenav -->
<!-- elements in banner and navbar -->
