<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" id="close-nav">&times;</a>
  <a class="menu-items" href="#">Diretório <br>Estadual</a>
  <a class="menu-items" href="#">Grupos <br>Temáticos</a>
  <a class="menu-items" href="#">Presença <br>nos Municípios</a>
  <li class="nav-item d-flex align-items-center"> <a class="btn" id="filie-se-menu" href="#">Filie-se</a> </li>
  <a class="menu-items" href="#">Contatos</a>
</div>
<div class="overlay-sidebar"></div>
<!-- Use any element to open the sidenav -->
<%# <div style="display: flex;"><span id="open-nav">&#9776;</span><div id="nav-icon"></div></div>
<div style="display: flex;"><span id="open-nav-resp">&#9776;</span><div id="nav-icon-resp"></div></div> %>
