.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar {
  background-color:#e6e6e6; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -69px; /* Hide the navbar 50 px outside of the top view */
  height: 69px;
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 10;
  @media (max-width: 500px) {
    height: 48px;
  }
}


/* Style the navbar links */
#navbar div {
  float: left;
  // display: block;
  // color: white;
  // text-align: center;
  // padding: 15px;
  // text-decoration: none;
}

#navbar a:hover {
  background-color: black;
  // color: black;
}
